@import url("productview.css");
@import url("navbar.css");

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 25px;
    height: 50px;
    text-align: center;
}

body {
    font-family: arial;
}