.product {
    width: 1000px;
    margin: 50px 0px 0px 15px;
    height: 250px;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    overflow: hidden;
}

.product .productafbeelding {
    /*border: 1px solid black;*/
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 20px;
}

.product .prijs {
    vertical-align: bottom;
}

.product .producttitel {
    font-size: 20px;
}

.product a {
    text-decoration: none;
    color: black;
}
